h1{
    font-family: 'Berkshire Swash';
    font-size: 40pt; 
    margin-top: 2em;  
    margin-left: 7em ;
}

hr{
    margin-left: 2em ; 
    margin-right: 3em; 
}

h2{
    margin-left: 9em ;
    margin-right: 4em;
}

h6{
    color: blue;
    margin-left: 2em ; 
    margin-right: 4em; 
}